*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color:aqua;
    justify-self: center;
    align-items: center;
}
.container {
    position:absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}